* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.board {
  position: relative;
  background-image: url('../img/tile-empty.png');
}
